.Card{
    width: 300px;
    height: auto;
    padding: 10px;
}
.Card img{
    width:74px;
    height: 74px;
}

.Card:hover{
    width: 300px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
.Card-link:hover{
    text-decoration: none;
}